 <div class='columns'>
    <div class='column'>
        <div class='box'>
            <%= comment.body %>
            <br />
            <br />
            <nav class="level">
              <div class="level-left">
                <div class='level-item'>
                  Commentor: <%= comment.user.full_name %>
                </div>
              </div>
        
              <div class="level-right">
                <div class='level-item'>
                    <span class='is-italic'>
                        <%= comment.created_at.strftime("created %m/%d/%Y %T %p") %>
                    </span>
                </div>
              </div>
            </nav>
        </div>
    </div>
</div>