<div class='box'>
                    <h3 class='has-text-weight-semibold'><%= pc.full_name %></h3>
                    <h4>Lead Banana Maker<h4>
                    <br />
                    <span class='has-text-weight-semibold'>Contact Details</span>
                    <ul>
                        <li><i class="far fa-phone"></i> <%= pc.primary_phone %></li>
                        <li><i class="far fa-at"></i> <%= pc.email %></li>
                    </ul>
                </div>