<tr data-url="<%= admin_ticket_path(ticket) %>">
    <td><%= ticket.ticket_number %></td>
    <td><%= ticket.user.full_name %></td>
    <td><%= ticket.request_summary %></td>
    <td><i class="far fa-comment-alt" style='margin-right: 10px;'></i> <i class="far fa-check-square"></i></td>
</tr>