<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href='#'>Admin</a></li>
    <li><%= link_to("Dashboard", admin_dashboard_path) %></li>
    <li class="is-active"><%= link_to('Clients', admin_clients_path) %></li>
  </ul>
</nav>