<header>
    <nav class='main_nav'>
        <a href='#' class='main_nav__link'>Test</a>
        <a href='#' class='main_nav__link'>Test</a>
        <a href='#' class='main_nav__link'>Test</a>
    </nav>
</header>